/* Layout toàn trang */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Nội dung chính chiếm phần còn lại */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Footer nằm dưới cùng */
.footer {
  clear:both;
  margin-top: auto;
  background-color: #0055A0;
  padding: 32px 20px;
  font_family: sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.6;
  border-top: 1px solid #334155;
}

.footer a{
  color: white
}