.contact_box {
  position: relative;
  left: 500px;
  top: 100px;
  background-color: white;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  margin-bottom: 150px;
}

.contact_box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #0074D9;
}

.contact_box label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.contact_box input,
.contact_box select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact_box button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #0074D9;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}